<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dirigente Liga
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-height:200px; overflow-y:auto">
        <div class="dropdown-header">GESTIÓN DE LIGAS</div>
        @Html.ActionLink("Mis Ligas", "IndexLeaguesLeagueManager", "Leagues", new { area = "" }, new { @class = "dropdown-item" })
        <div class="dropdown-divider"></div>
    </div>
</li>
